$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6C0AFF;
$secondary_paletteKeyColor: #856F92;
$tertiary_paletteKeyColor: #946994;
$neutral_paletteKeyColor: #7A7582;
$neutral_variant_paletteKeyColor: #7A7484;
$background: #15121C;
$onBackground: #E7E0EF;
$surface: #15121C;
$surfaceDim: #15121C;
$surfaceBright: #3B3743;
$surfaceContainerLowest: #0F0D16;
$surfaceContainerLow: #1D1A24;
$surfaceContainer: #211E28;
$surfaceContainerHigh: #2C2833;
$surfaceContainerHighest: #37333E;
$onSurface: #E7E0EF;
$surfaceVariant: #494453;
$onSurfaceVariant: #CBC3D5;
$inverseSurface: #E7E0EF;
$inverseOnSurface: #322F3A;
$outline: #948E9F;
$outlineVariant: #494453;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #CFBCFF;
$primary: #CFBCFF;
$onPrimary: #3A0092;
$primaryContainer: #5400CC;
$onPrimaryContainer: #E9DDFF;
$inversePrimary: #6F19FF;
$secondary: #D7BEE4;
$onSecondary: #3B2948;
$secondaryContainer: #523F5F;
$onSecondaryContainer: #F3DAFF;
$tertiary: #E8B7E7;
$onTertiary: #462349;
$tertiaryContainer: #AF82AF;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E9DDFF;
$primaryFixedDim: #CFBCFF;
$onPrimaryFixed: #22005D;
$onPrimaryFixedVariant: #5400CC;
$secondaryFixed: #F3DAFF;
$secondaryFixedDim: #D7BEE4;
$onSecondaryFixed: #251431;
$onSecondaryFixedVariant: #523F5F;
$tertiaryFixed: #FFD6FC;
$tertiaryFixedDim: #E8B7E7;
$onTertiaryFixed: #2F0D33;
$onTertiaryFixedVariant: #5F3961;
