/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #191d24 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c9ca; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c9ca; background-color: rgba(124,160,195,0.4)}
.cm-s-nqqwal { background-color: #191d24; color: #c2c9ca; }
.cm-s-nqqwal span.cm-builtin { color: #C89177; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #878c8d; }
.cm-s-nqqwal span.cm-keyword { color: #5B7495; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #917A85; }
.cm-s-nqqwal span.cm-def { color: #6A8BAC; }
.cm-s-nqqwal span.cm-variable { color: #7CA0C3; }
.cm-s-nqqwal span.cm-variable-2 { color: #6A8BAC; }
.cm-s-nqqwal span.cm-string { color: #C89177; }
.cm-s-nqqwal span.cm-string-2 { color: #C89177; }
.cm-s-nqqwal span.cm-number { color: #6A8BAC; }
.cm-s-nqqwal span.cm-tag { color: #5B7495; }
.cm-s-nqqwal span.cm-property { color: #7CA0C3; }
.cm-s-nqqwal span.cm-attribute { color: #7CA0C3; }
.cm-s-nqqwal span.cm-qualifier { color: #917A85; }
.cm-s-nqqwal span.cm-meta { color: #6A8BAC; }
.cm-s-nqqwal span.cm-header { color: #5B7495; }
.cm-s-nqqwal span.cm-operator { color: #5B7495; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(106,139,172,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #5B7495; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #191d24); }
